

.content {
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 4px;
	background: url('../images/content_bg.png') no-repeat;
	background-size: 100% 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e6db+25,eec3ac+100 */
background: rgb(227,230,219); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(227,230,219,1) 25%, rgba(238,195,172,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(227,230,219,1) 25%,rgba(238,195,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(227,230,219,1) 25%,rgba(238,195,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e6db', endColorstr='#eec3ac',GradientType=1 ); /* IE6-9 */
	background: $translucentwhite;
}

.content-bg {
	// background: $palegreen url('../images/hero.jpg') repeat-y;
}

.page-header {
	font-size: 21px;
	color: $brown;
	width: 100%;
	text-align: center;
	margin-top: 0;
}

.link-button {
	display: inline-block;
	border-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border: 1px solid white;
	background: $translucentwhite;
	padding: 1px 3px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: $purple !important;
	text-transform: uppercase;
	text-shadow: $textshadow;
	transition: all 0.35s;
	text-decoration: none !important;
	cursor: pointer;
	&:hover {
		color: $red !important;
		z-index: 10;
		transform: scale(1.15) rotate(-3deg);
		-webkit-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
	}
	&:active {
		transition: all 0.15s;
		transform: scale(1.05) rotate(-2deg);
		-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
	}
}

@media (min-width: 768px) {
	.link-button {
		font-size: 13px;
		padding: 2px 5px;
	}

}
