

.content {
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 4px;
	background: url('../images/content_bg.png') no-repeat;
	background-size: 100% 100%;
}

.content-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eec3ac+0,e3e6db+100 */
	// background: rgb(238,195,172); /* Old browsers */
	// background: -moz-radial-gradient(center, ellipse cover,  rgba(238,195,172,1) 0%, rgba(227,230,219,1) 100%); /* FF3.6+ */
	// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,195,172,1)), color-stop(100%,rgba(227,230,219,1))); /* Chrome,Safari4+ */
	// background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,195,172,1) 0%,rgba(227,230,219,1) 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-radial-gradient(center, ellipse cover,  rgba(238,195,172,1) 0%,rgba(227,230,219,1) 100%); /* Opera 12+ */
	// background: -ms-radial-gradient(center, ellipse cover,  rgba(238,195,172,1) 0%,rgba(227,230,219,1) 100%); /* IE10+ */
	// background: radial-gradient(ellipse at center,  rgba(238,195,172,1) 0%,rgba(227,230,219,1) 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eec3ac', endColorstr='#e3e6db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background: $palegreen url('../images/hero.jpg') repeat-y;
}

.page-header {
	font-size: 21px;
	color: $brown;
	width: 100%;
	text-align: center;
	margin-top: 0;
}

.link-button {
	display: inline-block;
	border-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border: 1px solid white;
	background: $translucentwhite;
	padding: 1px 3px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: $purple !important;
	text-transform: uppercase;
	text-shadow: $textshadow;
	transition: all 0.35s;
	text-decoration: none !important;
	&:hover {
		color: $red !important;
		z-index: 10;
		transform: scale(1.15) rotate(-3deg);
		-webkit-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);

	}
}

@media (min-width: 768px) {
	.link-button {
		font-size: 13px;
		padding: 2px 5px;
	}

}
