.hero {
	position: relative;
	background: $palegreen url('../images/hero.jpg') no-repeat 50% 50%;
	background-size: 120% auto;
	height: 400px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	display: block;
	text-align: center;
	vertical-align: middle;
	&:hover {
		background-size: 100% auto;
		.view-projects {
			background-size: 100% 100%;
		}
	}
	.view-projects {
		display: block;
		position: absolute;
		width: 300px;
		height: 78px;
		top: 200px - 78px/2;
		left: 50%;
		margin-left: -150px;
		background: transparent url('../images/view_projects.png') no-repeat 50% 50%;
		background-size: 90% 90%;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
}

