h1.header {
	width: 100%;
	text-align: center;
	padding-left: 90px;
	padding-right: 40px;
	font-size: 18px;
}

.navbar {
	background: $green url('../images/navbar_bg.png') no-repeat;
	background-size: contain;
	top: 37px;
	right: 15px;
	left: 15px;
	min-height: 43px;
	border-radius: 0;
	border-top-right-radius: 20px;
	z-index: 40;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 3px solid $white;
}
.container::after {
	content: '';
	width: 100%;
	height: 80px;
	z-index: 30;
	background-color: $white;
	position: fixed;
}
@media (min-width: 768px) {
	.container::after {
		height: 100px;
	}
	.navbar {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.navbar {
		width: 940px;
	}
}
@media (min-width: 1200px) {
	.navbar {
		width: 1140px;
	}
}

.navbar-brand {
	display: block;
	background: url('../images/cg_logo_onwhite.png') no-repeat;
	image-rendering: auto;
	background-size: contain;
	position: absolute;
	z-index: 100;
	transition: all 0.33s;
	-webkit-transition: all 0.33s;
	top: -32px;
	left: -15px;
	width: 94px;
	height: 94px;
	-webkit-transform: rotate(-5deg) scale(1);
	transform: rotate(-5deg) scale(1);
	&:hover {
		-webkit-transform: rotate(-20deg) scale(1.1);
		transform: rotate(-20deg) scale(1.1);
	}
}

//FIXME: Make mobile version
.navbar-nav {
	display: block;
	position: absolute;
	top: -30px;
	right: 24px;
	text-transform: uppercase;
	font-weight: bold;
	>li>a {
		transition: all 0.25s;
		-webkit-transition: all 0.25s;
		padding: 0 0 0 16px;
		color: $brown;
		opacity: 0.5;
		&:hover {
			opacity: 1;
			color: $orange !important;
			background: transparent;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
			-webkit-transform: rotate(-5deg) scale(1.1);
			transform: rotate(-5deg) scale(1.1);
		}
	}

}

.nav>li>a:focus, .nav>li>a:hover {background: none; color: $orange;}


.content-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	padding-right: 30px;
	top: 79px;
	min-height: 200px;
	min-width: 385px;
	overflow: hidden !important;
	z-index: 20;
}
@media (min-width: 550px) {
	h1.header {
		padding-top: 11px;
	}
}
@media (min-width: 768px) {
	h1.header {
		font-size: 25px;
	} 
	.content-wrapper {
		width: 750px;
		top: 98px;
	}
	.navbar {
		top: 47px;
		height: 53px;
	}
	.navbar-nav {
		top: -24px;
		right: 24px;
	}
	.navbar-brand {
		width: 110px;
		height: 110px;
		top: -37px;
		left: -30px;
	}
}
@media (min-width: 992px) {
	.content-wrapper {
		width: 970px;
	}
	.navbar-brand {
		width: 120px;
		height: 120px;
		top: -41px;
		left: -36px;
	}
}
@media (min-width: 1200px) {
	.content-wrapper {
		width: 1170px;
	}
}
