.page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

h1.header {
	width: 100%;
	text-align: center;
	padding-left: 90px;
	padding-right: 40px;
	font-size: 18px;
}

.navbar {
	background: url('../images/header_bg.png') no-repeat;
	background-size: cover;
	top: 0;
	right: 15px;
	left: 15px;
	height: 1px;
	min-height: 80px;
	min-width: 355px;
	border-radius: 0;
	border-width: 0;
	border: 0;
	z-index: 40;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 3px solid $white;
}

.header-fg {
	background: url('../images/header_fg.png') no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.container::after {
	content: '';
	width: 100%;
	height: 80px;
	z-index: 30;
	background-color: $white;
	position: fixed;
}


.navbar-brand {
	display: block;
	background: url('../images/cg_logo_onwhite.png') no-repeat;
	image-rendering: auto;
	background-size: contain;
	position: absolute;
	z-index: 100;
	transition: all 0.33s;
	-webkit-transition: all 0.33s;
	top: -32px;
	left: -15px;
	width: 94px;
	height: 94px;
	-webkit-transform: rotate(-5deg) scale(1);
	transform: rotate(-5deg) scale(1);
	&:hover {
		-webkit-transform: rotate(-20deg) scale(1.1);
		transform: rotate(-20deg) scale(1.1);
	}
}

//FIXME: Make mobile version
.navbar-nav {
	display: block;
	position: absolute;
	top: -30px;
	right: 24px;
	text-transform: uppercase;
	font-weight: bold;
	>li>a {
		transition: all 0.25s;
		-webkit-transition: all 0.25s;
		padding: 0 0 0 16px;
		color: $yellow;
		opacity: 0.85;
		&:hover {
			opacity: 1;
			color: $white !important;
			background: transparent;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
			-webkit-transform: rotate(-5deg) scale(1.1);
			transform: rotate(-5deg) scale(1.1);
		}
	}

}

.nav>li>a:focus, .nav>li>a:hover {background: none; color: $white;}


.content-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	padding-right: 30px;
	top: 79px;
	min-height: 600px;
	min-width: 385px;
	overflow: hidden !important;
	z-index: 20;
}

.footer {
	padding: 1em;
	color: $white;
	display: block;
	height: 60px;
	width: 100%;
	text-align: center;
	background: $green url('../images/navbar_bg.png') no-repeat;
	background-size: contain;
}

@media (min-width: 768px) {
	.container::after {
		height: 78px;
	}
	.navbar {
		top: 0;
		width: 720px;
	}
	.content-wrapper {
		width: 750px;
		top: 78px;
	}
	.navbar-nav {
		top: 30px;
		right: 24px;
	}
	.navbar-brand {
		width: 110px;
		height: 110px;
		top: -37px;
		left: -30px;
	}

}
@media (min-width: 992px) {
	.container::after {
		height: 100px;
	}
	.navbar {
		width: 940px;
		min-height: 100px;
	}
	.content-wrapper {
		width: 970px;
		top: 100px;
	}
	.navbar-nav {
		top: 40px;
		font-size: 15px;
	}
	.navbar-brand {
		width: 120px;
		height: 120px;
		top: -41px;
		left: -36px;
	}
}
@media (min-width: 1200px) {
	.container::after {
		height: 121px;
	}
	.navbar {
		height: 120px;
		width: 1140px;
	}
	.navbar-nav {
		top: 50px;
		font-size: 17px;
	}
	.content-wrapper {
		width: 1170px;
		top: 121px;
	}
}
