.page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

h1.header {
	width: 100%;
	text-align: center;
	padding-left: 90px;
	padding-right: 40px;
	font-size: 18px;
}

.navbar {
	width: 100%;
	position: absolute;
	top: 50px;
	right: 0px;
	left: 0px;
	height: 50px;
	min-height: 50px;
	min-width: 355px;
	border-radius: 0;
	border-width: 0;
	border: 0;
	z-index: 40;
	margin: -25px auto 0;
	text-align: center;
	background: $translucentwhite;
	outline: 1px solid $white;
	outline-offset: 5px;
	transition: all 0.5s ease;
}

.home-page {
	.header-fg {
		display: block;
	}
	.navbar {
		top: 50%;
	}
	.header-fg {
		height: 160px;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}

.header-fg {
	display: none;
	position: absolute;
	background: url('../images/logo.png') no-repeat center center;
	background-size: contain;
	height: 80px;
	width: 200px;
	z-index: 100;
	top: 10px;
	left: 0px;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
}

.container::after {
	content: '';
	width: 100%;
	height: 80px;
	z-index: 30;
	position: fixed;
}


//FIXME: Make mobile version
.navbar-nav {
	display: inline-block;
	position: relative;
	float: none;
	text-transform: uppercase;
	font-weight: bold;
	top: 15px;
	margin: 0;
	> li {
		float: left;
		> a {
			transition: all 0.25s;
			-webkit-transition: all 0.25s;
			margin: 0 0 0 16px;
			padding: 0 3px;
			color: $brown;
			opacity: 0.85;
			&:hover {
				opacity: 1;
				color: $pink !important;
				background: transparent;
				text-shadow: 1px 1px 5px rgba(255,255,255,1);
				-webkit-transform: rotate(-5deg) scale(1.1);
				transform: rotate(-5deg) scale(1.1);
			}
		}
	}

}

.nav>li>a:focus {
	background: none; 
	color: $brown;
	border: 1px solid $brown;
}
.nav>li>a:hover {
	color: $pink;
	border: 1px solid $pink;
	background: $white;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);

}
.home-page .home-link, 
.projects-page .projects-link,
.contact-page .contact-link,
.skillset-page .skillset-link {
	border: 1px solid $brown;
}


.content-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	padding-right: 30px;
	top: 100px;
	min-width: 385px;
	overflow: hidden !important;
	z-index: 20;
}

.footer {
	padding: 1em;
	color: $white;
	display: block;
	height: 60px;
	width: 100%;
	text-align: center;
	font-size: 80%;
}

@media (min-width: 768px) {
	.header-fg {
		display: block;
	}
	.container::after {
		height: 78px;
	}
	.content-wrapper {
		width: 750px;
	}

}
@media (min-width: 992px) {
	.container::after {
		height: 100px;
	}
	.content-wrapper {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container::after {
		height: 121px;
	}
	.content-wrapper {
		width: 1170px;
	}
}
