// Projects

.projects {
	min-height: 400px;
}

.view-toggle {
	position: absolute;
	top: 30px;
	right: 30px;
	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-size: cover;
		transition: all 0.35s;
		&:hover {
			opacity: 1;
			transform: scale(1.25);
		}
	}
	a.list {
		background-image: url('../images/view_toggle_list.png');
	}
	a.grid {
		background-image: url('../images/view_toggle_grid.png');
	}
}

figure.project {
	position: relative;
	overflow: hidden;
	color: white;
	border: 1px solid white;
	-webkit-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.5);
	transition: all 0.35s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#693b41+0,43303b+100&amp;0.75+0,0.9+100 */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(105,59,65,0.75) 0%, rgba(67,48,59,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(105,59,65,0.75)), color-stop(100%,rgba(67,48,59,0.9))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(105,59,65,0.75) 0%,rgba(67,48,59,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(105,59,65,0.75) 0%,rgba(67,48,59,0.9) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(105,59,65,0.75) 0%,rgba(67,48,59,0.9) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(105,59,65,0.75) 0%,rgba(67,48,59,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf693b41', endColorstr='#e643303b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	&::before, &::after {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		opacity: 0;
		transition: all 0.5s;
		z-index: 100;
		pointer-events: none;
	}
	&::before {
		border-top: 1px solid $paleorange;
		border-bottom: 1px solid $paleorange;
		transform: scale(0,1);
	}
	&::after {
		border-left: 1px solid $paleorange;
		border-right: 1px solid $paleorange;
		transform: scale(1,0);
	}
	&:hover::before, &:hover::after {
		opacity: 1;
		transform: scale(1);
	}
	.thumb::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+50,0.35+100 */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		content: '';
		opacity: 1;
		// transform: translate3d(0,50%,0);
		transition: opacity 0.65s, transform 0.35s;
	}
	.thumb {
		position: absolute;
		overflow: hidden;
		transition: all 0.35s;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		img {
			width: 100%;
			height: auto;
			&:hover {
				a {
					color: #fff;
					transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
				}
				img::before {
					opacity: 1;
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	.button-bar {
		position: absolute;
		.link-button {
			margin-left: 0.25em;
		}
	}
	&:hover {
		-webkit-box-shadow: 0px 7px 25px 0px rgba(0,0,0,1);
		-moz-box-shadow: 0px 7px 25px 0px rgba(0,0,0,1);
		box-shadow: 0px 7px 25px 0px rgba(0,0,0,1);
		.thumb.colored {
			opacity: 0;
		}
		.thumb::before {
			opacity: 0.5;
		}
	}
	figcaption {
		transition: all 0.35s;
		h3 {
			font-size: 15px;
			color: $white;
			transition: all 0.35s;
		}
		p {
			text-shadow: $textshadow;
			color: $paleorange;
			transition: all 0.35s;

		}
	}
}


.list-layout {
	.view-toggle {
		a.list {
			opacity: 0.85;
		}
		a.grid {
			opacity: 0.35;
		}
	}
	figure.project {
		width: 100%;
		height: auto;
		margin-bottom: 2em;
		.thumb {
			width: 25%;
			top: 7px;
			left: 7px;
			bottom: 7px;
		}
		.button-bar {
			bottom: 10px;
			right: 10px;
		}
		figcaption {
			margin-left: 25%;
			min-height: 80px;
			padding: 1em;
			h3 {
				font-size: 15px;
				margin-bottom: 0.75em;
				padding-bottom: 0.25em;
			}
			p {
				margin-bottom: 0.5em;
			}
		}

	}



	@media (min-width: 550px) {
		figure.project {
			figcaption {
				padding: 1em;
				h3 {
					font-size: 20px;
				}
			}
		}

	}
	@media (min-width: 768px) {
		figure.project {
			figcaption {
				padding: 2em;
				h3 {
					border-bottom: 1px solid $translucentwhite;
				}
			}
			.button-bar {
				bottom: 20px;
				right: 20px;
			}
		}
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 1200px) {
	}
}

.grid-layout {
	.view-toggle {
		a.list {
			opacity: 0.35;
		}
		a.grid {
			opacity: 0.85;
		}
	}
	figure.project {
		height: 120px;
		float: left;
		width: 48%;
		margin: 0 4% 1em 0;
		&:nth-child(2n+2) {
			margin-right: 0;
		}
		.thumb {
			top: 7px;
			right: 7px;
			bottom: 70px;
			left: 7px;
		}
		.button-bar {
			bottom: 7px;
			right: 7px;
			left: 7px;
			text-align: center;
		}
		figcaption {
			position: absolute;
			bottom: 36px;
			left: 7px;
			right: 7px;
			text-align: center;
			h3 {
				display: table;
				width: 100%;
				height: 30px;
				font-size: 13px;
				span.ng-binding {
					display: table-cell;
					width: 100%;
					vertical-align: middle;
					text-align: center;
					height: 30px;
				}
			}
			p {
				display: none;
				margin-bottom: 0.5em;
			}
		}

	}
	@media (min-width: 550px) {
		figure.project {
			height: 160px;
		}

	}
	@media (min-width: 768px) {

	}
	@media (min-width: 992px) {
		figure.project {
			height: 240px;
			width: 23%;
			margin: 0 2.65% 1em 0;
			&:nth-child(2n+2) {
				margin-right: 2.65%;
			}
			&:nth-child(4n+4) {
				margin-right: 0;
			}
			.thumb {
				
			}
		}
	}
	@media (min-width: 1200px) {
	}

}
.grid-layout::after {
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

