$green : #c4d4c7;
$palegreen: #e3e6db;
$darkgreen: #a7b5aa;
$purple: #6d4e60;
$red: #b1646d;
$brightred: #d42237;
$palered: #f48996;
$orange: #eea785;
$paleorange: #eec3ac;
$brown: #907874;
$pink: #e9b2ad;
$white: #fff;
$translucentwhite: rgba(255,255,255,0.65);
$yellow: #fffce0;

$textshadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

html {
	min-width: 400px;
	background: url('../images/bg_lg.jpg') no-repeat center center fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

body {
	font-family: 'Lato', sans-serif;
	color: $purple;

}

a {
	color: $red;
	border-radius: 4px;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	&:hover {
		color: $white;
		background-color: $pink;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.textshadow {
	text-shadow: $textshadow;
}

.title {
	font-family: 'Quicksand', sans-serif !important;
}

.space-below {
	margin-bottom: 0.5em;
}

.centered {
	text-align: center;
}

.red {	color: $red; }
.purple { color: $purple; }
.orange { color: $orange; }
.brown { color: $brown; }
.white { color: $white; }


@import 'index';
@import 'content';
@import 'home';
@import 'animation';
@import 'loading';
@import 'projects';
@import 'contact';
@import 'skillset';