extends ./apiLayout.jade

block title
	title API Login

block content
	div.well
		h3 API Login
		if message.length>0
			div.alert.alert-danger #{message}

		form(id='form' name='login', method='POST', action='/api/login', role='form')
			
			fieldset.form-group
				label(for='id') Email
				input.form-control(type='text', name='email', id='email')
			fieldset.form-group
				label(for='name') Password
				input.form-control(type='password', name='password', id='password')
			fieldset.form-group
				input.form-control(type='submit' value='Login')

		hr
		p Need an account? <a href='/api/signup'>Signup</a>
