
<div class="content-outer">
	<div class="contact content content-bg">
		<h2 class="page-header uppercase textshadow">Contact</h2>
		<p>Want to get in touch? Send me a request using the form below, and I'll get back to you as soon as I can.</p>
		<form name="contactForm" novalidate>
			<fieldset>
				<label for="name">Name:</label>
				<input name="name" type="text" ng-model="contact.name"/>
			</fieldset>
			<input type="submit" ng-click="submit(contact)" value="Submit"/>
		</form>

	</div>
</div>
<!-- FIXME: Replace with template -->
<footer class="footer"></footer>